
nav{
    background-color: black;
}

#site-title{
    color: white;
    padding: 10px;
    z-index: 4;
}

/* desktop */
.desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px

}

.desktop-menu-bar{
    position: absolute;
    width: calc(100% - 76px);
    text-align: center;
    overflow: hidden;
}

.menu-buttons{
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 0;
}

#menu-button-img{
    width: 30px;
    height: 20px;
}

.icon-menu{
    display: flex;
    padding: 10;
    z-index: 4;
}

#cart-icon{
    height: wi;
}

.search-form{
    display: flex;
    align-items: center;
    background: white;
    border: white;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    z-index: 4;
}

.search-entry{
    height: 100%;
    border: none;
    background: none;
}
.search-entry:focus{
    outline: none;
}

.mobile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-icon{
    height: 30px;
    width: 30px;
}

.dropdown-menu{
    opacity: 0;
    transform: translateY(-50px);
}

.menu-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding: 10px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.menu-grid-option{
    display: inline;
    list-style-type: none;
    padding: 0;
}

.mobile-icons{
    display: flex;
    align-items: center;
}

.mobile-search-icon{
    width: 30px;
    height: 30px;
}

.mobile-menu{
    opacity: 0;
    transform: translateY(-20px);
}


.mobile-menu-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

@media only screen and (max-width: 2560px)  {
    #site-title{
        font-size: 42pt;
    }
    
    .menu-buttons{
        font-size: 10pt;
    }

    .menu-grid-option{
        font-size: 24pt;
    }
}


@media only screen and (max-width: 1440px)  {
    #site-title{
        font-size: 20pt;
    }
    
    .menu-buttons{
        font-size: 10pt;
    }

    .menu-grid-option{
        font-size: 18pt;
    }
}


@media only screen and (max-width: 1024px)  {
    #site-title{
        font-size: 20pt;
    }

    .menu-buttons{
        font-size: 10pt;
    }

    .menu-grid-option{
        font-size: 14pt;
    }
}

@media only screen and (max-width: 768px)  {
    #site-title{
        font-size: 24pt;
    }

    .menu-buttons{
        font-size: 10pt;
    }

    .menu-grid-option{
        font-size: 12pt;
    }
}

@media  only screen and (max-width: 425px) {
    nav{
        justify-content: space-between;
    }

    #site-title{
        font-size: 24pt;
    }

    
    #menu-text{
        display: none;
    }

    #menu-button{
        display: block;
    }

    #dropdown-menu{
        display: block;
        opacity: 1;    
    }
}

@media only screen and (max-width: 375px)  {
    #site-title{
        font-size: 18pt;
    }

}

@media only screen and (max-width: 320px)  {

}