nav{
    display: flex;
    background-color: black;
    align-items: center;
}

#site-title{
    color: white;
    padding: 10px 20px;
}

.menu-buttons{
    background: none;
    border: none;
    color: white;
    margin: 10px;
    text-decoration: none;
}

#menu-button{
    background: none;
    border: none;
    padding: 0;
    width: 70px;
    height: 100%;
}

#menu-button-img{
    width: 70px;
    height: 50px;
}

#dropdown-menu{
    display: none;
    margin: 0;
    padding: 0;
}

.menu-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;

}

.menu-grid-option{
    display: inline;
    list-style-type: none;
    padding: 0;
}

#mobile-menu{
    display: none;

    text-align: center;
    list-style-type: none;
    padding: 0;

}

@media only screen and (max-width: 2560px)  {
    #site-title{
        font-size: 42pt;
    }
    
    .menu-buttons{
        font-size: 26pt;
    }

    #menu-button{
        display: none;
    }

    .menu-grid-option{
        font-size: 24pt;
    }
}


@media only screen and (max-width: 1440px)  {
    #site-title{
        font-size: 32pt;
    }
    
    .menu-buttons{
        font-size: 18pt;
    }

    #menu-button{
        display: none;
    }

    .menu-grid-option{
        font-size: 18pt;
    }
}


@media only screen and (max-width: 1024px)  {
    #site-title{
        font-size: 28pt;
    }

    .menu-buttons{
        font-size: 14pt;
    }

    #menu-button{
        display: none;
    }

    .menu-grid-option{
        font-size: 14pt;
    }
}

@media only screen and (max-width: 768px)  {
    #site-title{
        font-size: 24pt;
    }

    .menu-buttons{
        font-size: 14pt;
    }

    #menu-button{
        display: none;
    }

    .menu-grid-option{
        font-size: 12pt;
    }
}

@media  only screen and (max-width: 425px) {
    nav{
        justify-content: space-between;
    }

    #site-title{
        font-size: 24pt;
    }

    
    #menu-text{
        display: none;
    }

    #menu-button{
        display: block;
    }

    #dropdown-menu{
        display: none;
    }
}

@media only screen and (max-width: 375px)  {
    #site-title{
        font-size: 18pt;
    }
    #dropdown-menu{
        display: none;
    }
}

@media only screen and (max-width: 320px)  {
    #dropdown-menu{
        display: none;
    }
}