<nav>
    <!-- desktop menu -->
    <div *ngIf='!isMobile' class="desktop-menu">
        <!-- site title -->
        <h1 id="site-title">Shoe Store</h1>

        <!-- menu section for categories -->
        <div class="desktop-menu-bar">
            <button class="menu-buttons" (click)="dropdownMenuToggle()">New Releases</button>
            <button class="menu-buttons">Men</button>
            <button class="menu-buttons">Women</button>
            <button class="menu-buttons">Kids</button>
            <button class="menu-buttons">Sale</button>
        </div>

        <!-- icon menus -->
        <div class="icon-menu">          
            <button (click)="expandSearch()" class="search-form">
                <mat-icon>search</mat-icon>
                <p class="search-entry"  type="button" value="Search"></p>
            </button>
            <button class="menu-buttons">
                <mat-icon class="mobile-icon">favorite_border</mat-icon>
            </button>
            <button class="menu-buttons">
                <mat-icon class="mobile-icon">shopping_bag</mat-icon>
            </button>
        </div>
    </div>

    <!-- mobile menu -->
    <div class="mobile-nav" *ngIf='isMobile'>
            <h1 id="site-title">Shoe Store</h1>
        <div>
            <button class="menu-buttons">
                <mat-icon class="mobile-icon">shopping_bag</mat-icon>

            </button>
            <button class="menu-buttons" (click)="expandSearch()">
                <mat-icon class="mobile-icon">search</mat-icon>
            </button>
            <button (click)="dropdownMenuMobileToggle()" class="menu-buttons">
                <mat-icon class="mobile-icon">menu</mat-icon>
            </button>
        </div>       
    </div>

    <div [@expandedSearch]="getExpandedSearchState()" class="search-expand">
        <div class="search-form-expanded">
            <mat-icon>search</mat-icon>
            <input class="search-entry" type="text" placeholder="Search">
            <button class="search-button" (click)="expandSearch()">
                <mat-icon>close</mat-icon>
            </button>

        </div>
    </div>
</nav>

<!-- desktop dropdown -->
<div *ngIf='!isMobile' [@openClose]="getMenuState()" id="dropdown-menu" class="dropdown-menu">
    <ul class="menu-grid">
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
        <li class="menu-grid-option">Shoe</li>
    </ul>
</div>

<!-- mobile dropdown -->
<div *ngIf='isMobile' [@mobileMenuOpenClose]="getMobileMenuState()" id="mobile-menu" class="mobile-menu">
    <ul class="menu-grid">
        <li class="menu-grid-option"> Shoes</li>
    </ul>
</div>